

#navbar {
    background-color: rgb(102, 91, 79);
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0;
  
}

#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    padding: 23px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    background-color: white;
    color: black;
    border: 12px solid white;
    border-radius: 10px;
}
/* footer start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    overflow-x: clip;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b ;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration:none ;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition:all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff ;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}
/* copyright */
p.copyright {
    color: #bbbbbb;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    
}
/* copyright ends */

/* responsive */
@media(max-width: 574px){
    .footer-col{
        /* width: 50%;
        margin-bottom: 30px; */
        width: 100%;
        
    }
}
/* footer ends */


.container-fluid{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #11dbcf;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #11dbcf;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(236 234 234 / 55%);
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(236 234 234 / 55%);
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(236 234 234 / 70%);
}

.navbar-light .navbar-brand {
    color: rgb(236 234 234 / 70%);
}

.navbar-light .navbar-nav .nav-item #know{
    color: rgb(236 234 234 / 55%);
}

.btn-outline-success {
    /* background-color: #f0ebeb;  */
    color: #198754;
    border-color: #198754;
}
/* start of sidebar */


  /* end of sidebar */

/* start of dropdown menu icons */
.dropdown-menu img{
    height: 35px;
    padding-right: 12px;
}
.title{
    text-align: center;
    margin: 20px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #e61073;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align: center;
    padding:  40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
    
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);

}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    color: #777;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    border-radius: 15%;
    margin-inline: 10px;

}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa{
    color: #e61073;
}
/* testimonial end */

/* scroll bar start  */
/* *{
    margin: 0px;
    padding: 0px;
  } */
  #container {
      width: 100vw;
      height: 500px;
      display: flex;
      overflow-x: hidden;
      box-sizing: content-box;
    }
    .slide {
      width: 100%;
      flex-shrink: 0;
      height: 100%;
     
    }
    
    #slide-1{
      background-color: red;
    }
    #slide-2{
      background-color:yellow;
    }
    #slide-3{
      background-color: green;
    }
    #slide-4{
      background-color: blue;
    }
    #slide-5{
      background-color: pink;
    }
   
    .btn{
      margin: 12px;
      padding: 13px;
      size: 15px;
      width: 55px;
      height: 59px;
      border-radius: 27px;
      outline: none;
      background: transparent;
      color: white;
      border: none;
    }
    #slideLeft{
      position: absolute;
      top: 209px;
      left: 12px;
    }
    #slideRight{
      position: absolute;
      top: 209px;
      right: 12px;
    }
    /* scrollbar end */

/* process menu */
.process-title{
    text-align: center;
    margin: 20px auto 36px;
    position: relative;
    line-height: 60px;
    color: #555;
}
    
    
.process-title::after{
    content: '';
    background: #e61073;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.process{
    padding-top: 10px;
    /* background-color: #3c3d42; */
}

.process .row{
    display: flex;
    flex-wrap: nowrap;
}

.process .col-3{
    text-align: center;
    padding:  40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color:#11dbcf;
    color: #000;
}

.process .col-3 img{
    width: 91px;
    height: 73px;
    margin-top: 20px;
    border-radius: 50%;
}
.process .col-3:hover{
    transform: translateY(-10px);

}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.col-3{
    flex-basis: 24%;
    min-width: 242px;
    margin-bottom: 30px;

}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa{
    color: #e61073;
}

@media(max-width: 1140px){
    .process .row{
        display: flex;
        flex-wrap: wrap;
    }
}
/* contact form start */
.contact-box {
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:#11dbcf;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .contact-box i {
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: #11dbcf;
    border: none;
    padding: 10px;
    border-radius: 20px;
  }

 .contact button:hover{
   background: #00d9ff;
   color: #fff;
 } 
 .contact{
     margin-bottom: 15px;
 }
 .section-title h2{
     color: #11dbcf;
 }
 /*  */
 
/* contact form ends */