nav{
    margin-bottom: 0rem;
}
/* .nav::before{
    content: '';
    position: absolute;
    z-index: 1;
} */
.navbar{
    position: absolute;
    top: 34px;

}
.navbar ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50rem;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    position: relative;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    padding: 19px 20px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    backdrop-filter: blur(15px);
    height: 63px;
}
.navbar ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.navbar ul li:first-child a{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navbar ul li:nth-last-child(2) a{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#marker{
    position: absolute;
    top: 0;
    width: 41px;
    height: 71px;
    z-index: 1;
    transition: 0.5s;
}
#marker::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 69px;
    height: 85px;
    background: #5da6ff;
    border-radius: 50%;
    box-shadow: 0 0 15px #5da6ff,
    0 0 30px #5da6ff,
    0 0 45px #5da6ff,
    0 0 60px #5da6ff;
}

ul li:nth-child(2):hover ~ #marker::before{
    background: #ff0;
    box-shadow: 0 0 15px #ff0,
    0 0 30px #ff0,
    0 0 45px #ff0,
    0 0 60px #ff0;
}
ul li:nth-child(3):hover ~ #marker::before{
    background: #0f0;
    box-shadow: 0 0 15px #0f0,
    0 0 30px #0f0,
    0 0 45px #0f0,
    0 0 60px #0f0;
}
ul li:nth-child(4):hover ~ #marker::before{
    background: #ff308f;
    box-shadow: 0 0 15px #ff308f,
    0 0 30px #ff308f,
    0 0 45px #ff308f,
    0 0 60px #ff308f;
}
ul li:nth-child(5):hover ~ #marker::before{
    background: #df2fff;
    box-shadow: 0 0 15px #df2fff,
    0 0 30px #df2fff,
    0 0 45px #df2fff,
    0 0 60px #df2fff;
}
/* footer start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    overflow-x: clip;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b ;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration:none ;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition:all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff ;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}
/* copyright */
p.copyright {
    color: #bbbbbb;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    
}
/* copyright ends */

/* responsive */
@media(max-width: 574px){
    .footer-col{
        /* width: 50%;
        margin-bottom: 30px; */
        width: 100%;
        
    }
}
/* footer ends */


.container-fluid{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #11dbcf;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(236 234 234 / 55%);
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(236 234 234 / 55%);
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(236 234 234 / 70%);
}

.navbar-light .navbar-brand {
    color: rgb(236 234 234 / 70%);
}

.navbar-light .navbar-nav .nav-item #know{
    color: rgb(236 234 234 / 55%);
}

.btn-outline-success {
    background-color: #f0ebeb; 
    color: #198754;
    border-color: #198754;
}
/* start of sidebar */


  /* end of sidebar */

/* start of dropdown menu icons */
.dropdown-menu img{
    height: 35px;
    padding-right: 12px;
}
.title{
    text-align: center;
    margin: 20px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #e61073;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
/* testimonial satrt */
/* .testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align: center;
    padding:  40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
    
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);

}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    color: #777;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    border-radius: 15%;
    margin-inline: 10px;

}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa{
    color: #e61073;
} */
.team-section{
	background-color:#11dbcf;
	min-height: 100vh;
	padding:70px 15px 30px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:#11dbcf;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#11dbcf;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}



/* testimonial end */

/* scroll bar start  */

  #container {
      width: 100vw;
      /* height: 500px; */
      height: 100vh;
      display: flex;
      overflow-x: hidden;
      box-sizing: content-box;
      background-color: #00d9ff;
      animation: slider 30s infinite linear;
    }
    @keyframes slider{
        0%{
            background-color: orange;
                }
                25%{
            background-color: indigo;
                }
                50%{
            background-color: indianred;
                }
                75%{
            background-color: hotpink;
                }
                100%{
                  background-color: greenyellow;
                }
    }
    
    /* scrollbar end */

/* process menu */
.process{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px 0;
}

.process .box{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5px;
}

.process .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    transition: 0.5s;
}

.process .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

.process .box:hover::before,
.process .box:hover::after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.process .box:nth-child(1)::before,
.process .box:nth-child(1)::after{
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.process .box:nth-child(2)::before,
.process .box:nth-child(2)::after{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.process .box:nth-child(3)::before,
.process .box:nth-child(3)::after{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.process .box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.process .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.process .box:hover span ::before{
    top: -50px;
    left: 50px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.process .box span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

.process .box:hover span ::after{
    bottom: -50px;
    right: 50px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

@keyframes animate{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.process .box .content{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}
.process .box:hover .content{
    left: -25px;
    padding: 60px 40px;
}

.process .box .content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.process .box .content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
.process .box .content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

@media(max-width: 870px){
    .process{
        display: flex;
        flex-wrap: wrap;
    }
}

/* services section start */






/* .services-title{
    text-align: center;
    margin: 20px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.services-title::after{
    content: '';
    background: #e61073;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.services{
    padding-top: 10px;

}
.services .col-3{
    text-align: center;
    padding:  40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    background-color: #11dbcf;
    transition: transform 0.5s;
}

.services .col-3 img{
    width: 110px;
    height: 79px;
    margin-top: 20px;
    border-radius: 50%;
}
.services .col-3:hover{
    transform: translateY(-10px);

}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    color: #777;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    border-radius: 15%;
    margin-inline: 10px;

}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa{
    color: #e61073;
}

 */

/* contact form start */

#contact-section{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    /* background: linear-gradient(white,pink); */
    background: #001923;
    
}
#contact-section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
     background: linear-gradient(#ffeb3b,#e91e63);
     border-radius: 50%;
     border-top-left-radius: 0px;
     /* transform: translate(-477px, -85px); */
     /* transform: translate(113px, -39px); */
     transform: translate(-414px, -139px);
}
#contact-section::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
     background: linear-gradient(#2196f3,#83d8ff);
     border-radius: 50%;
     border-bottom-right-radius: 0px;
     /* transform: translate(400px,180px); */
     /* transform: translate(437px,101px); */
     /* transform: translate(904px,1446px); */
     transform: translate(425px, 144px);
}
.container2{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 900px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow:hidden;
    backdrop-filter: blur(25px);
   

}
.container2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container2 h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.container2 .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container2 .row100 .col100{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container2 .row100 .col100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
   color: #fff;
}
.container2 .row100 .col100 .inputBox input,
.container2 .row100 .col100 .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
   color: #fff;
   background: transparent;
   border: none;
   outline: none;
   font-size: 15px;
   padding: 0 10px;
   z-index: 1;
   color: #000;
}
.container2 .row100 .col100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container2 .row100 .col100 .inputBox input:focus + .text,
.container2 .row100 .col100 .inputBox input:valid + .text,
.container2 .row100 .col100 .inputBox textarea:focus + .text,
.container2 .row100 .col100 .inputBox textarea:valid + .text{

    top: -35px;
    left: -10px;
}
.container2 .row100 .col100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;

}
.container2 .row100 .col100 .inputBox input:focus ~ .line,
.container2 .row100 .col100 .inputBox input:valid ~ .line{
    height: 100%;
}
.container2 .row100 .col100 .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding :10px 0;
}
.container2 .row100 .col100 .inputBox textarea:focus ~ .line,
.container2 .row100 .col100 .inputBox textarea:valid ~ .line{
    height: 100%;
}
/* input[type="submit"] */
.container2 .row100 .col100  #contact-submit{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
   
}
@media screen and (max-width:831){
    section::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        background: linear-gradient(#2196f3,#83d8ff);
        border-radius: 50%;
        /* transform: translate(400px,180px); */
        transform: translate(287px,193px);
    }
    .container2 h2 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:617){
    section::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        background: linear-gradient(#2196f3,#83d8ff);
        border-radius: 50%;
        /* transform: translate(400px,180px); */
        transform: translate(287px,193px);
    }
    .container2 h2 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/* contact form ends */